.tile {
  margin: 2px;
  padding: 3px;
  display: inline-block;
  background-color: rgb(26, 26, 26);
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}